''' product.html '''
{% extends 'rango/base_post_login.html' %}

<table class="table table-hover">
  <!-- http://www.tutorialspoint.com/bootstrap/bootstrap_tables.htm -->
  <caption>Product list</caption>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>
        <form class="" method="GET">
          <button id="black order_by" class="submit" type="submit" name="price_order_by" value="{{ price_order_by }}">Price</button>
        </form>
      </th>
      <th>Stock</th>
      <th>On sale</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    {% for p in products %}
    {% if p.status == False %}
    <tr class="danger">
    {% else %}<tr>{% endif%}

        <td>{% for c in p.categories.all %}
          <a href="{% url 'rango:product' p.id %}">{{ c.name }}</a> /
          {% endfor %}</td>
          <td><a href="{% url 'rango:product' p.id %}">{{ p.name }}</a></td>
          <td><a href="{% url 'rango:product' p.id %}">{{ p.price }}</a></td>
          <td><a href="{% url 'rango:product' p.id %}">{{ p.stock }}</a></td>
          <td><a href="{% url 'rango:product' p.id %}">{{ p.status }}</a></td>
          <td><a href="{% url 'rango:product' p.id %}">{{ p.due_date }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
