button.submit {
     background:none!important;
     border:none;
     padding:0!important;
     /*font: inherit;*/
     /*border is optional*/
     /*border-bottom:1px solid #444;*/
     cursor: pointer;
     color:#BABABA;
}

button#black{
  /*color:black;*/
}
