<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'comment2.css' %}">
  </head>
  <body>
    <div id="comments" class="leftPostCol hide600">

    	<h4><b>2</b> Comments</h4>


    		<ol>
    				<li class="comment even thread-even depth-1" id="comment-468942">
    				<div id="div-comment-468942" class="comment-body">
    				<div class="comment-author vcard">
    			<img alt='' src='http://0.gravatar.com/avatar/427afc0d1d26e3cecd56a905f3c1394e?s=80&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G' class='avatar avatar-80 photo' height='80' width='80' />			<cite class="fn">Araujo</cite> <span class="says">says:</span>		</div>

    		<div class="comment-meta commentmetadata"><a href="http://tutorialzine.com/2015/06/12-time-saving-bootstrap-examples/#comment-468942">
    			June 5, 2015 at 2:47 pm</a>		</div>

    		<p>Excellent</p>

    		<div class="reply"><a class='comment-reply-link' href='/2015/06/12-time-saving-bootstrap-examples/?replytocom=468942#respond' onclick='return addComment.moveForm( "div-comment-468942", "468942", "respond", "5904" )' aria-label='Reply to Araujo'>Reply</a></div>
    				</div>
    		</li><!-- #comment-## -->
    		<li class="comment odd alt thread-odd thread-alt depth-1" id="comment-469269">
    				<div id="div-comment-469269" class="comment-body">
    				<div class="comment-author vcard">
    			<img alt='' src='http://0.gravatar.com/avatar/47a5b6b6120160e1b8eb1f8486620184?s=80&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G' class='avatar avatar-80 photo' height='80' width='80' />			<cite class="fn">Bashar</cite> <span class="says">says:</span>		</div>

    		<div class="comment-meta commentmetadata"><a href="http://tutorialzine.com/2015/06/12-time-saving-bootstrap-examples/#comment-469269">
    			June 6, 2015 at 11:37 am</a>		</div>

    		<p>Awesome list! Thanks a lot.</p>

    		<div class="reply"><a class='comment-reply-link' href='/2015/06/12-time-saving-bootstrap-examples/?replytocom=469269#respond' onclick='return addComment.moveForm( "div-comment-469269", "469269", "respond", "5904" )' aria-label='Reply to Bashar'>Reply</a></div>
    				</div>
    		</li><!-- #comment-## -->
    		</ol>


    </div>

  </body>
</html>
