<!DOCTYPE html>
<html>
  <head lang='en'>
    <meta charset="utf-8">
    <title>Fata - {% block title %}How to Tango with Django!{% endblock %}</title>
  </head>
  <body>
    <div class="">
      <ul>
        <li><a href="{% url 'rango:home' %}">Home</a></li>
        <li><a href="{% url 'rango:listing' 1 %}">Store</a></li>
        <li><a href="{% url 'rango:user_logout' %}">Logout</a></li>
        <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></li>
        <li><a href="{% url 'rango:about' %}">About</a></li>
      </ul>
    </div>
    <hr>

    <div class="left_menu">
      <ul>
        <li><a href="{% url 'rango:my_settings' %}">My Settings</a></li>
      </ul>
    </div>
    <hr>
    <div>
      {% block body_block %} This is body_block's default content{% endblock %}
    </div>
  </body>
</html>
