<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="http://getbootstrap.com/favicon.ico"> -->

    <link rel="icon" href="{% static 'icons/fb.png' %}">

    <title>FaKe | {{user.username}}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <!-- <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.5-dist/css/navbar.css' %}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script> -->

    {% block head %}
    {% endblock %}
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'rango:index'%}">FaKe - FAcebook data marKEt</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            {% block navbar_store_active %}
            <ul class="nav navbar-nav">
              <li><a href="{% url 'rango:store' 1 %}">Store</a></li>
              {% if perms.rango.can_sell %}
              <li><a href="{% url 'rango:register_new_product' %}">Register new product</a></li>
              {% endif %}
              <li><a href="{% url 'rango:about' %}">About</a></li>
            </ul>
            {% endblock %}
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li> -->
              <!-- <li><a href="../navbar-static-top/">Static top</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <!-- <li><a href="#">Action</a></li> -->
                  <li><a href="{% url 'rango:my_settings'%}">My settings</a></li>

                  {% if perms.rango.can_order %}
                  <li><a href="{% url 'rango:my_cart' %}">My Cart</a></li>
                  <li><a href="{% url 'rango:my_orders' %}">My Order</a></li>
                  {% elif perms.rango.can_sell %}
                  <li><a href="{% url 'rango:my_products' %}">My products</a></li>
                  {% endif %}

                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">See you soon! ヽ(･∀･)ﾉ</li>
                  <li><a href="{% url 'rango:user_logout' %}">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <!-- <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->

    <div>
      {% block body_block %} This is body_block's default content{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- // <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->
    <script src="{% static 'lib/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- // <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="{% static 'lib/bootstrap-3.3.5-dist/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
