<div id="comments" class="leftPostCol hide600">

	<h4><b>2</b> Comments</h4>


		<ol>
				<li class="comment even thread-even depth-1 parent" id="comment-468942">
				<div id="div-comment-468942" class="comment-body">
				<div class="comment-author vcard">
			<img alt='' src='http://0.gravatar.com/avatar/427afc0d1d26e3cecd56a905f3c1394e?s=80&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G' class='avatar avatar-80 photo' height='80' width='80' />			<cite class="fn">Araujo</cite> <span class="says">says:</span>		</div>

		<div class="comment-meta commentmetadata"><a href="http://tutorialzine.com/2015/06/12-time-saving-bootstrap-examples/#comment-468942">
			June 5, 2015 at 2:47 pm</a>		</div>

		<p>Excellent</p>

		<div class="reply"><a class='comment-reply-link' href='/2015/06/12-time-saving-bootstrap-examples/?replytocom=468942#respond' onclick='return addComment.moveForm( "div-comment-468942", "468942", "respond", "5904" )' aria-label='Reply to Araujo'>Reply</a></div>
				</div>
		<ol class="children">
		<li class="comment odd alt depth-2" id="comment-483020">
				<div id="div-comment-483020" class="comment-body">
				<div class="comment-author vcard">
			<img alt='' src='http://0.gravatar.com/avatar/4f1273ab4abf70d2e84ffe3511630721?s=80&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G' class='avatar avatar-80 photo' height='80' width='80' />			<cite class="fn">zico</cite> <span class="says">says:</span>		</div>
				<em class="comment-awaiting-moderation">Your comment is awaiting moderation.</em>
		<br />

		<div class="comment-meta commentmetadata"><a href="http://tutorialzine.com/2015/06/12-time-saving-bootstrap-examples/#comment-483020">
			July 27, 2015 at 6:06 am</a>		</div>

		<p>Yeah, can't agree more</p>

		<div class="reply"><a class='comment-reply-link' href='/2015/06/12-time-saving-bootstrap-examples/?replytocom=483020#respond' onclick='return addComment.moveForm( "div-comment-483020", "483020", "respond", "5904" )' aria-label='Reply to zico'>Reply</a></div>
				</div>
		</li><!-- #comment-## -->
</ol><!-- .children -->
</li><!-- #comment-## -->
		<li class="comment even thread-odd thread-alt depth-1" id="comment-469269">
				<div id="div-comment-469269" class="comment-body">
				<div class="comment-author vcard">
			<img alt='' src='http://0.gravatar.com/avatar/47a5b6b6120160e1b8eb1f8486620184?s=80&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G' class='avatar avatar-80 photo' height='80' width='80' />			<cite class="fn">Bashar</cite> <span class="says">says:</span>		</div>

		<div class="comment-meta commentmetadata"><a href="http://tutorialzine.com/2015/06/12-time-saving-bootstrap-examples/#comment-469269">
			June 6, 2015 at 11:37 am</a>		</div>

		<p>Awesome list! Thanks a lot.</p>

		<div class="reply"><a class='comment-reply-link' href='/2015/06/12-time-saving-bootstrap-examples/?replytocom=469269#respond' onclick='return addComment.moveForm( "div-comment-469269", "469269", "respond", "5904" )' aria-label='Reply to Bashar'>Reply</a></div>
				</div>
		</li><!-- #comment-## -->
		</ol>




	<div id="respond">
		<div id="addCommentSection">
			<h4 id="leavereply">Add Comment</h4>
			<h4 id="respondtitle">Add a Reply</h4>

			<form action="http://tutorialzine.com/wp-comments-post.php" method="post" id="commentform">


				<p><input type="text" name="author" id="author" value="zico" size="22" tabindex="1" aria-required='true' />
				<label for="author"><small>Name</small></label></p>

				<p><input type="text" name="email" id="email" value="zico@gmail.com" size="22" tabindex="2" aria-required='true' />
				<label for="email"><small>Email (will not be published)</small></label></p>

<!--				<p><input type="text" name="url" id="url" value="" size="22" tabindex="3" />
				<label for="url"><small>Website</small></label></p>-->


				<p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>

				<p class="notes"><b>HTML is escaped automatically.</b> Surround code blocks with <b>&lt;pre&gt;&lt;/pre&gt;</b> for readability.<br>
					Perks:&nbsp;&nbsp;&nbsp;<b>**bold**</b>&nbsp;&nbsp;&nbsp;<i>__italics__</i>&nbsp;&nbsp;&nbsp;<span style="color:#008DE6">[some text](http://example.com)</span> for links</p>

				<div style="padding-top:15px;">
					<input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" class="button blue" />
					<input type='hidden' name='comment_post_ID' value='5904' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />

					<div class="cancel-comment-reply">
						<a rel="nofollow" id="cancel-comment-reply-link" href="/2015/06/12-time-saving-bootstrap-examples/#respond" style="display:none;">Cancel Reply</a>					</div>
				</div>

				<p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="3ee8c29383" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="125"/></p>

			</form>
		</div>
	</div>


</div>
