{% extends 'rango/base_pre_login.html' %}

{% block body%}
<div class="container">




  <form class="form-signin" id="login_form" action="/rango/login/" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <!-- <form class="form-signin" action="index.html" method="GET">
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
  </form> -->
  <div class="form-signin">
    Are you new? <a href="{% url 'rango:register' %}">Join</a> today!
  </div>
</div>


{% endblock %}


<!-- <fieldset>
  <legend>What gender are you?</legend>
  <p><label for="g1"><input type="checkbox" name="g" id="g1" value="M"> Male</label></p>
  <p><label for="g2"><input type="checkbox" name="g" id="g2" value="F"> Female</label></p>
  <p><label for="g3"><input type="checkbox" name="g" id="g3" value="B"> Both</label></p>
  <p><label for="g4"><input type="checkbox" name="g" id="g4" value="N"> None</label></p>
  <p><label for="g5"><input type="checkbox" name="g" id="g5" value="!"> This is not your concern!</label></p>
  <p><label for="g6"><input type="checkbox" name="g" id="g6" value="?"> Who cares?</label></p>
  <p><label for="g7"><input type="checkbox" name="g" id="g7" value="\o/"> Obi-Wan Kenobi</label></p>
</fieldset> -->
