{% extends 'rango/base_post_login.html' %}

{% block body_block %}

<table class="table table-hover">
  <!-- http://www.tutorialspoint.com/bootstrap/bootstrap_tables.htm -->
   <caption>Order list</caption>
   <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Due Date</th>
      </tr>
   </thead>
   <tbody>
    {% for p in products %}
    <tr>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.name }}</a></td>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.price }}</a></td>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.due_date }}</a></td>

    </tr>
     {% endfor %}
    <tr>
      <td>Sum</td>
      <td>{{ sum }}</td>
      <td></td>
    </tr>
   </tbody>
</table>

{% endblock %}
