{% extends 'rango/base_post_login.html' %}

{% load staticfiles %}
{% block head %}
<script src="/static/scripts/jquery-1.11.3.min.js"></script>
<!-- <script src="/static/scripts/pagination.js"></script> -->
<link rel="stylesheet" href="/static/scripts/link_button.css">

{% endblock %}

{% block body_block %}
<form method="get">
  <span>Category:</span>

  <select name="category">
    <option value='all'>All</option>
    {% for cat in categories %}
    <option value='{{cat.name}}'>{{cat.name}}</option>
    {% endfor %}
  </select>

  <span>| Product:</span>
  <input type="text" name="product_name">
  <button type="submit">Search!</button>
  <!-- <input type="submit" name="search" value="Search!"> -->
</form>

<div id="store_category">
<table class="table table-hover">
  <!-- http://www.tutorialspoint.com/bootstrap/bootstrap_tables.htm -->
   <caption>Product list</caption>
   <thead>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Image</th>
        <th>
          <form class="" method="GET">
          <button id="black order_by" class="submit" type="submit" name="price_order_by" value="{{ price_order_by }}">Price</button>
          </form>
          </th>
        <th>Stock</th>
        <th>On sale</th>
        <th>Due Date</th>
      </tr>
   </thead>
   <tbody>
    {% for p in products %}
    {% if p.is_active == False %}
     <tr class="danger">
    {% else %}
    <tr>
    {% endif%}
       <td>
         {% for c in p.categories.all %}
         <a href="{% url 'rango:product' p.id %}">{{ c.name }}</a> /
         {% endfor %}
       </td>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.name }}</td>
        <td>
          {% if p.picture %}<img src="{{ p.picture.url }}" alt="" />{% endif %}</a>
        </td>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.price }}</a></td>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.stock }}/{{p.get_original_stock}}</a></td>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.status }}</a></td>
        <td><a href="{% url 'rango:product' p.id %}">{{ p.due_date }}</a></td>

     </tr>

     {% endfor %}

   </tbody>
</table>



  <div class="pagination">
    <span class="step-links">
      {% if products.has_previous %}
      <a id="previous_page" href="{% url 'rango:store' products.previous_page_number%}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ products.number }} of {{ products.paginator.num_pages }}.
      </span>

      {% if products.has_next %}
      <a id="next_page" href="{% url 'rango:store' products.next_page_number %}">next</a>
      {% endif %}
    </span>
  </div>
</div>

<script type="text/javascript">

$(document).on('click', '.order_by' function(e){
  var order = $(this).attr("value");
  if(order == 'desc'){
    order = 'asec'
  }else{
    order = 'desc'
  }
  $(this).attr("value", order);
});

</script>
{% endblock %}
