/* This is the main styling file used for the styling of all html files-*/


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-center{
    text-align: center;

}

.footer-color {
    background-color: #f5f5f5;
}
.text-muted {
  margin: 20px 0;
}

.glyphicon {
    font-size: 4em;
    color: rgb(40,96,144);
}

.icon {
    text-align: center;
}

.home {
    text-align: center;
    padding-bottom: 30px;
}

.btn {
    text-align: center;
}

.cover {
    padding: 0px 0px 0px;
}

.featured {
    padding: 0px 0px 60px;
}

#lrnmore {
    margin-bottom: 20px;
}

.notbuy {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

#high {
    padding-bottom: 10px;
}

#about {
    padding-bottom: 15px;
}

.btn-md{
    padding: 10px 10px;
}

#loginrow{
    padding: 20px 0px;
}

.login {
    text-align: center;
}

#changepw {
    padding-bottom: 10px;
}

#changepw2{
    margin-bottom: 20px;
}
.categories {
    margin-top: 20px;
    margin-bottom: 30px;

}

#addgamebutton {
    margin-bottom: 20px;
}

#gameframe {
    width: 600px;
    height: 400px;
}

@media (max-width: 630px) {
  #gameframe {
      width: 100%;
  }
}
