<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'icons/fb.png' %}">

    <title>FAKE | Log in or Join :)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.5-dist/css/signin.css' %}">

    <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.5-dist/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    <script src="{% static 'scripts/jquery-1.11.3.min.js' %}"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index'%}">FAKE - FAcebook big data marKEt</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">



          <ul class="nav navbar-nav navbar-right">

            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    {% block body %} This is body's default content {% endblock %}


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'lib/bootstrap-3.3.5-dist/js/ie10-viewport-bug-workaround.js' %}"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="{% static 'lib/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>

    <!-- <footer class="footer"> -->
    <footer id="footer">
        <div class="row footer-color">
          <div class="col-sm-3">
              <p class="text-muted text-center">© Seyoung Park</p>
          </div>
          <div class="col-sm-3">
              <p class="text-muted text-center"><a href="mailto:king@seyoung.xyz">Contact ME!</a></p>
          </div>
          <div class="col-sm-3">
              <p class="text-muted text-center">
                  <a href="https://www.linkedin.com/in/seyoung-park-20408823">LinkedIn</a>
              </p>
          </div>
          <div class="col-sm-3">
              <p class="text-muted text-center">
                  <a href="https://github.com/YoungxHelsinki">Github</a>
              </p>
          </div>
        </div>
        </footer>
  </body>
</html>
