{% extends 'base_post_login.html' %}

{% block body_block %}
<div class="jumbotron">
  <h1>Welcome to FaKe!!!</h1>
   <div class="container">
<div class="row">
  <div class="col-sm-6">
      <h2>Functions</h2>
      <ul>
          <li>Register objects</li>
          <li>Two types of users</li>
          <li>Authentication</li>
          <li>Authorization</li>
          <li>Upload files/images</li>
          <li>Unique url for every file/image using Amazon S3</li>
          <li>Pagination</li>
          <li>Basic Search</li>
          <li>Change password</li>
      </ul>
  </div>
  <div class="col-sm-6">
    <h2>How to</h2>
    <p>Join either as a buyer or seller;</p>
    <ul>
        <li>Buyer: Can only buy</li>
        <li>Seller: Can only sell</li>
    </ul>
    <p>Then explore!</p>
  </div>
</div>
</div>
</div>
{% endblock %}
