{% extends 'base_post_login.html' %}

{% block body_block %}

<form class="" method="post">
  {% csrf_token %}
<table class="table table-hover">
   <caption>Cart list</caption>
   <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Due Date</th>
      </tr>
   </thead>
   <tbody>
    {% for p in products %}
    <tr>
        <td><input type="checkbox" name="product_id" value="{{p.pk}}"></td>
        <td><a href="{% url 'product' p.id %}">{{ p.name }}</a></td>
        <td><a href="{% url 'product' p.id %}">{{ p.price }}</a></td>
        <td><a href="{% url 'product' p.id %}">{{ p.due_date }}</a></td>

    </tr>
     {% endfor %}
    <tr>

      <td>Sum</td>
      <td></td>
      <td>{{ sum }}</td>
      <td></td>
    </tr>
   </tbody>
</table>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Order</button>
</form>
{% endblock %}
