{% extends 'base_post_login.html' %}

{% block body_block %}

<table class="table table-hover">
   <caption>Order list</caption>
   <thead>
      <tr>
        <th>Order id</th>
        <th>Products</th>
        <th>Paid</th>
        <th>Delivered</th>
      </tr>
   </thead>
   <tbody>
    {% for order in orders %}

    {% if order.is_paid %}<tr class='success'>
    {% else %}<tr>{% endif %}

        <td><a href="{% url 'order_detail' order.id %}">{{ order.id }}</a></td>
        <td><a href="{% url 'order_detail' order.id %}">{{ order.get_product_names }}</a></td>
        <td><a href="{% url 'order_detail' order.id %}">{{ order.is_paid }}

        {% if order.is_paid %}
        ( {{ order.get_paid_date }} )
        {% endif %}

        </a></td>
        <td><a href="{% url 'order_detail' order.id %}">{{ order.is_delivered }}</a></td>

    </tr>
     {% endfor %}
</table>

{% endblock %}
