{% extends 'base_post_login.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="/static/comment2.css">
<link rel="stylesheet" href="/static/custom.css">
<script src="/static/scripts/jquery-1.11.3.min.js"></script>
<script src="/static/scripts/jquery.confirm-master/jquery.confirm.js"></script>
<script src="/static/scripts/reply.js"></script>
{% endblock %}


{% block body_block %}
<table class="table">
  <!-- http://www.tutorialspoint.com/bootstrap/bootstrap_tables.htm -->
  <caption>Product Detail</caption>
  <tr>
    <th>seller name</th>
    <td>{{ product.seller.username }}</td>
  </tr>
  {% for name, value in product.get_fields %}
    {% if value %}
    {% if name == "is_active" and value == "True" %}
    <tr class='success'>
    {% elif name == "is_active" and value == "False" %}
    <tr class='danger'>
    {% else %}
    <tr>
    {% endif%}
      <th>{{ name }}</th>
      {% if name == "picture" %}
      <td>
        <div class="product-thumbnail-container">
            <a href="{{ product.picture.url }}">
            <img class="product-thumbnail" src="{{ product.picture.url }}" alt="{{ product.name }}">
            </a>
        </div>
      </td>
      {% else %}
      <td>{{ value }}</td>
      {% endif %}
    </tr>

    {% endif %}
  {% endfor %}

</table>
{% if perms.rango.can_order and not bought %}
<form class="" method="post">
  {% csrf_token %}
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="add_to_cart" value='True'>Add to Cart</button>
</form>
{% elif perms.rango.can_order %}
<button class="btn btn-lg btn-primary btn-block" type="reset">Already bought!</button>
{% elif is_product_seller %}
<button class="btn btn-lg btn-primary btn-block" type="reset">Edit</button>
{% if product.is_active %}
<form method="post">
  {% csrf_token %}
  <button class="confirm-delete btn btn-lg btn-primary btn-block" type="submit" name="delete_product" value="{{product.pk}}">Stop sales</button>
</form>
{% endif %}
<table class="table">
  <!-- http://www.tutorialspoint.com/bootstrap/bootstrap_tables.htm -->
  <caption>Buyers</caption>
  <thead>
     <tr>
       <th>ID</th>
       <th>Name</th>
       <th>e-mail</th>
       <th>Purchase Date</th>
     </tr>
  </thead>
  <tbody>
   {% for buyer, date in buyers_data %}
    <tr>
      <td>{{buyer.get_username}}</td>
      <td>{{buyer.get_full_name}}</td>
      <td>{{buyer.email}}</td>
      <td>{{date}}</td>
    </tr>

    {% endfor %}

  </tbody>
</table>
{% endif %}

<form class="post-comment" method="post">
  {% csrf_token %}
  <div class="form-group">
   <label for="comment">Comment:</label>
   <textarea class="form-control" id="comment" rows="5" maxlength="300" minlength="1" name="comment" placeholder="Tell us how you loved this product :D"></textarea>
  </div>
  <button type="submit" name="post_comment" value="True">Comment</button>
</form>

<!-- The comment system is borrowed from
"http://tutorialzine.com/2015/06/12-time-saving-bootstrap-examples/#comment-483020"  -->
<div id="comments" class="leftPostCol hide600">

  <h4><b>{{ num_comment }}</b> Comments</h4>

  <ol>

    {% for comment in comments %}
    <li class="comment even thread-even depth-1" id="comment-468942">
      <div id="div-comment-468942" class="comment-body">
        <div class="comment-author vcard">
          <img alt='' src='http://0.gravatar.com/avatar/427afc0d1d26e3cecd56a905f3c1394e?s=80&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G' class='avatar avatar-80 photo' height='80' width='80' /><cite class="fn">{{comment.user}}</cite> <span class="says">says:</span></div>

          <div class="comment-meta commentmetadata">{{comment.created_time}}
            {% if user.pk == comment.user.pk %}
            <form method="post">
              {% csrf_token %}
              <button class="submit confirm-delete" type="submit" name="delete_comment" value="{{ comment.pk }}">delete</button>
              <!-- <a class="confirm-delete" href="#">delete</a> -->
            </form>
          {% endif %}
          </div>

      <p>{{comment.content}}</p>
      {% for reply in comment.reply_set.all %}
      {% if reply.is_active %}
      <ol class="children">
        <li class="comment odd alt depth-2" id="comment-483020">
          <div id="div-comment-483020" class="comment-body">
            <div class="comment-author vcard">
              <img alt='' src='http://0.gravatar.com/avatar/4f1273ab4abf70d2e84ffe3511630721?s=80&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G' class='avatar avatar-80 photo' height='80' width='80' />			<cite class="fn">{{ reply.user }}</cite> <span class="says">says:</span></div>

              <div class="comment-meta commentmetadata">
                {{reply.created_time}}

                {% if user.pk == reply.user.pk %}
                <form method="post">
                  {% csrf_token %}
                  <button class="submit confirm-delete" type="submit" name="delete_reply" value="{{ reply.pk }}">delete</button>
                  <!-- <a class="confirm-delete" href="#">delete</a> -->
                </form>
              {% endif %}
            </div>


          <p>{{ reply.content }}</p>
          </li><!-- #comment-## -->
          </ol><!-- .children -->
          {% endif %}
          {% endfor%}

          <div class="reply-area">
            <!-- Javascript code "/static/scripts/reply.js" is wired.
                 Default behaviour is disabled and Jquery function
                 will be called.-->
          <div class="reply">
            <a class='comment-reply-link' href='{% url "reply_form" comment.pk %}' aria-label='Reply to Araujo'>Reply {{comment.pk}}</a>
          </div>
          </div>
        </div>
    </li><!-- #comment-## -->
      {% endfor %}
  </ol>


</div>
  <script type="text/javascript">
  $('.confirm-delete').bind('click', function() {
    if(!confirm('Are you sure?') )
        return false;
  });
  </script>
  </body>
</html>

{% endblock %}
